
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: rgb(138, 195, 205);
}

.navbar-brand {
    font-weight: bold;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.blob-image {
  width: 450px;
  height: 350px;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Unique Blob Shapes */
.blob-1 {
  border-radius: 18% 22% 22% 7% / 30% 84% 16% 70%;
  transition: border-radius 500ms ease-in-out;
}

.blob-2 {
    border-radius:92% 8% 22% 8% / 13% 84% 16% 87% ;
}

.blob-3 {
    border-radius:46% 54% 17% 83% / 81% 20% 80% 19%  ;
}

.blob-4 {
    border-radius:33% 67% 17% 83% / 65% 33% 67% 35% ;
}

.blob-5 {
    border-radius:17% 83% 14% 86% / 66% 18% 82% 34% ;
}

.blob-6{
    border-radius:50% 50% 88% 12% / 14% 58% 42% 86%  ;
}
.blob-7{
    border-radius:54% 46% 82% 18% / 35% 60% 40% 65%   ;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Zentriert die Carousel im Viewport */
  }

  .carousel {
    width: 33%; /* 1/3 der Breite */
    border-radius: 20px;
    overflow: hidden; /* Runden Ecken anwenden */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Schatten für einen besseren visuellen Effekt */
  }

